<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Pagina Principal CRUD </h1>

<br/>
<a th:href="@{/agregar}"> Crear persona</a>
<p th:text="${saludar}"></p>
<div th:if="${personas !=null and !personas.isEmpty()}">
    <table border="1" bgcolor="#f0ffff">
        <tr>
            <th bgcolor="#7fffd4">nombre</th>
            <th bgcolor="#7fffd4">apellido</th>
            <th bgcolor="#7fffd4">email</th>
            <th bgcolor="#7fffd4">telefono</th>
            <th bgcolor="#7fffd4" >editar</th>
            <th bgcolor="#7fffd4">eliminar</th>
        </tr>
        <tr th:each="persona: ${personas}">
            <td th:text="${persona.nombre}" bgcolor="#fff5ee">nombre</td>
            <td th:text="${persona.apellido}" bgcolor="#fff5ee">apellido</td>
            <td th:text="${persona.email}" bgcolor="#fff5ee">email</td>
            <td th:text="${persona.telefono}" bgcolor="#fff5ee">telefono</td>
            <td><a  th:type="submit" th:href="@{/editar/} + ${persona.email}" th:text="editar"/></td>
            <td><a  th:type="submit" th:href="@{/delete/} + ${persona.email}" th:text="delete"/></td>
        </tr>

    </table>
</div>
<div th:if="${personas == null or personas.isEmpty()}">
    <div/>
    no existe registro
</body>
</html>